body {
  /*background-color: #282c34;*/
  background-color: #7E69CB;
  background-image: url('https://blog.vantagecircle.com/content/images/2021/09/virtual-secret-santa-gift-ideas.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-attachment: scroll;
}

.App {
  text-align: center;
  margin: 1%;
  padding: 10px;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /*background-color: rgba(122, 134, 160, 0.235);*/
  padding: 10px;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #b7cad4;
}

.navbar a, .navLog a {
  color: #b7cad4;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1rem;
  font-family : monospace;
  font-weight: bolder;
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  transition: all ease-in 0.4s;
}
.navLog a:last-child{
  background-color: /*#A52547*/ #554996;
}
.navbar a:hover, .navLog a:hover {
  background-color: #ECA23A;
  color: white;
}

div h1 {
  color: #a8d5efc4;
  margin-top: 5%;
}

